@charset "utf-8";
/* CSS Document */


/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1920px) {


}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1536px) {


}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1280px) {
  

}


/* Large Devices, Wide Screens */
@media only screen and (max-width : 1199px) {
    
  
}


/* Large Devices, Wide Screens */
@media only screen and (max-width : 1024px) {
  
	
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 991px) {

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 768px) {

	
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 767px) {


}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 575px) {
 

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	

}

@media only screen and (max-width : 460px) {
	

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 375px) {
	

	
}


/* Custom, iPhone Retina */
@media only screen and (max-width : 360px) {


}


@media only screen and (max-width : 320px) {



}

@media only screen and (min-width: 992px) {
    
    
}

@media (min-width: 992px) {
 
  }